/* montserrat-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v26-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-slab-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-slab-v33-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-slab-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v33-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --bg-c: #fff;
    --menu-c: #F9F9F9;
    --h-c: #22202E;
    --second-menu-c: #2A254B;
    --main-text-c: #2A254B;
    --second-text-c: #FFF;
    --third-text-c: #726E8D;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', sans-serif;
    line-height: normal;
}

a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

p,
a,
button {
    font-family: 'Montserrat', serif;
    line-height: normal;
}

button {
    padding: 0;
}

img {
    max-width: 100%;
    display: inline-block;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.hidden {
    position: absolute;
    top: -150px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 200ms ease-in-out;
}

.visible {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

/* HEADER */

.company-name-and-buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name-and-buttons .mobile-buttons {
    display: flex;
    gap: 4px;
    align-items: center;
    position: relative;
}

.search,
.open-menu {
    cursor: pointer;
    padding: 8px;
    border: none;
    background-color: inherit;
    transition: transform 250ms ease-in-out;
}

.search:hover,
.open-menu:hover {
    transform: scale(1.2);
}

.search-on-page {
    font-weight: 400;
    padding: 8px;
    border-radius: 20px;
    position: absolute;
    top: 13px;
    right: 64px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    width: 140px;
}

.desktop-buttons,
.main-products-desktop {
    display: none;
}

.company-name h2 {
    padding: 20px 0;
    color: var(--h-c);
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 400;
    text-transform: uppercase;
}

/* HERO */

.hero .container {
    padding: 28px 0 14px 0;
}

.hero-content-container {
    padding: 0 20px;
}

.hero-content-container h1 {
    color: var(--main-text-c);
    font-size: clamp(20px, 4.5vw, 24px);
    font-weight: 400;
    margin-bottom: 8px;
}

.hero-text {
    color: var(--main-text-c);
    font-size: clamp(14px, 2.5vw, 18px);
    margin-bottom: 20px;
}

.hero-text-desktop {
    display: none;
}

.our-collection {
    display: block;
    margin: 0 auto 20px auto;
    text-align: center;
    padding: 12px 24px;
    background-color: var(--menu-c);
    color: var(--main-text-c);
    font-size: clamp(14px, 2.5vw, 18px);
    line-height: 1.5;
    cursor: pointer;
    transition: transform 250ms ease-in-out,
        background-color 250ms ease-in-out,
        color 250ms ease-in-out;
}

.our-collection:hover {
    color: var(--menu-c);
    background-color: var(--main-text-c);
    transform: scale(1.05);
}

.example-design {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}

/* ADVANTAGES */

.advantages .container {
    padding-top: 14px;
    padding-bottom: 36px;
}

.what-makes {
    text-align: center;
    color: var(--main-text-c);
    font-size: clamp(16px, 3vw, 20px);
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 24px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.advantage-container {
    background-color: var(--menu-c);
    padding: 32px 20px;
    max-width: 385px;
    transition: transform 200ms ease-in-out;
}

.advantage-container:hover {
    transform: scale(1.1);
}

.advantage-container svg {
    margin-bottom: 12px;
    fill: var(--main-text-c);
}

.advantage-container h3 {
    color: var(--main-text-c);
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 12px;
}

.advantage-container p {
    color: var(--main-text-c);
    font-size: clamp(14px, 2.5vw, 16px);
    line-height: 1.5;
    font-weight: 400;
}

/* FAVORITE PRODUCTS */

.favorite-products .container {
    padding-top: 24px;
    padding-bottom: 24px;
}

.favorite-products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    row-gap: 16px;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
}

.favorite-products-list li {
    flex-basis: calc((100% - 12px) / 2);
}

.favorite-products-item-container img {
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
    max-width: 360px;
    width: 100%;
    height: auto;
}

.favorite-products-item-container h3 {
    color: var(--main-text-c);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 8px;
}

.favorite-products-item-container p {
    color: var(--main-text-c);
    font-size: 14px;
    line-height: 1.5;
}

.collection-link {
    display: block;
    text-align: center;
    background-color: var(--menu-c);
    padding: 12px 24px;
    color: var(--main-text-c);
    font-size: 14px;
    line-height: 1.5;
    transition: transform 250ms ease-in-out,
        background-color 250ms ease-in-out,
        color 250ms ease-in-out;
}

.collection-link:hover {
    color: var(--menu-c);
    background-color: var(--main-text-c);
    transform: scale(1.05);
}

/* SMALL IDEA */

.small-idea .container {
    padding: 32px 24px;
}

.small-idea-text-part {
    margin-bottom: 24px;
}

.small-idea-text-part-container {
    background-color: var(--main-text-c);
    padding: 36px 32px 30px 32px;
}

.small-idea-text-part-container h2 {
    margin-bottom: 12px;
    color: var(--bg-c);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}

.small-idea-text-part-container p {
    margin-bottom: 56px;
    color: var(--bg-c);
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
}

.small-idea-text-part-container a {
    display: block;
    text-align: center;
    padding: 16px 32px;
    background-color: rgba(249, 249, 249, 0.15);
    color: var(--bg-c);
    font-size: 16px;
    line-height: 1.5;
    transition: background-color 250ms ease-in-out,
        transform 250ms ease-in-out;
}

.small-idea-text-part-container a:hover {
    background-color: #22202E;
    transform: scale(1.05);
}

.small-idea-part-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* JOIN CLUB */

.join-club {
    background-image: url(../images/join_club/mobile/join_1x_mobile.webp),
        linear-gradient(to bottom, rgba(255, 150, 84, 0.6),
            rgba(177, 150, 0, 0.6));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-resolution: 192dpi) {
    .join-club {
        background-image: url(../images/join_club/mobile/join_2x_mobile.webp),
            linear-gradient(to bottom, rgba(255, 150, 84, 0.6),
                rgba(177, 150, 0, 0.6));
    }

}

.join-club .container {
    padding: 24px 24px 35px 24px;
}

.join-club .container h2 {
    color: var(--bg-c);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 12px;
}


.join-club-text {
    color: var(--bg-c);
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.subscribe-advantages-list {
    margin-bottom: 28px;
}

.subscribe-advantage-item-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.subscribe-advantage-item-container svg {
    fill: var(--bg-c);
}

.subscribe-advantage-item-container p {
    color: var(--bg-c);
    font-size: 16px;
    line-height: 1.5;
}

.subscribe-form-container {
    position: relative;
}

.join-club-form-input {
    width: 100%;
    padding: 18px 128px 18px 16px;
    border: none;
    outline: transparent;
    color: var(--main-text-c);
    font-size: 16px;
}

.join-club-form-input::placeholder {
    color: var(--main-text-c);
    font-size: 16px;
    opacity: 0.2;
}

.subscribe-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15.5px 32px;
    border: none;
    background-color: var(--main-text-c);
    color: var(--bg-c);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 250ms ease-in-out,
        color 250ms ease-in-out;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--third-text-c);
}

/* FOOTER */

footer {
    background-color: var(--main-text-c);
}

footer .container {
    padding: 40px 24px 20px 24px;
}

.footer-menu-and-form {
    position: relative;
}

.footer-menu-and-form::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #4E4D93;
    display: block;
    position: absolute;
    bottom: -16px;
}

.footer-menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 96px;
    row-gap: 40px;
    margin-bottom: 34px;
}

.categoiers-list-container h3,
.menu-list-container h3,
.our-company-list-container h3 {
    color: var(--bg-c);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}

.categoiers-list-container li,
.menu-list-container li,
.our-company-list-container li {
    color: var(--bg-c);
    font-size: 14px;
    font-weight: 400;
}

.categoiers-list-container li a,
.menu-list-container li a,
.our-company-list-container li a {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.categoiers-list-container li a,
.menu-list-container li a,
.our-company-list-container li a {
    padding: 6px 0;
}

.categoiers-list-container li a::after,
.menu-list-container li a::after,
.our-company-list-container li a::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--bg-c);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
}


.categoiers-list-container li a:hover::after,
.menu-list-container li a:hover::after,
.our-company-list-container li a:hover::after {
    transform: translateX(0);
}

.subscribe-footer h3 {
    color: var(--bg-c);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.footer-subscribe-container {
    position: relative;
    margin-bottom: 36px;
}

.join-club-form-input-footer {
    background-color: var(--h-c);
    width: 100%;
    padding: 19px 128px 19px 16px;
    border: none;
    outline: transparent;
    color: var(--bg-c);
    font-size: 16px;
}

.join-club-form-input-footer::placeholder {
    color: var(--bg-c);
    font-size: 16px;
    opacity: 0.2;
}

.footer-subscribe-container .subscribe-button {
    background-color: var(--bg-c);
    color: var(--main-text-c);
}

.footer-subscribe-container .subscribe-button:hover {
    background-color: var(--third-text-c);
    color: var(--bg-c);
}

.copyright {
    text-align: center;
    color: var(--bg-c);
    font-size: 14px;
    font-weight: 400;
}

.footer-social-networks {
    display: none;
}

/* MODAL AUTHORIZATION */

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-authorization {
    background-color: var(--menu-c);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 50%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.close-authorization {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.close-authorization svg {
    stroke: var(--main-text-c);
    transition: transform 250ms ease-in-out;
}

.close-authorization:hover svg {
    transform: scale(1.2);
}

.authorization-title {
    margin: 32px 20px;
    text-align: center;
    text-align: center;
    color: var(--main-text-c);
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
}

.login-password-container {
    padding: 0 24px 12px 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-data-input-label {
    font-family: 'Montserrat';
    color: var(--main-text-c);
    font-size: 16px;
}

.user-data-input-label:nth-child(3) {
    padding-top: 12px;
}

.user-data-input {
    width: 100%;
    padding: 18px 128px 18px 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    outline: transparent;
    color: var(--main-text-c);
    font-size: 16px;
}

.user-data-input::placeholder {
    color: var(--main-text-c);
    font-size: 16px;
    opacity: 0.2;
}

.policy-container {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    width: auto;
}

.policy-checkbox {
    opacity: 0.3;
    z-index: 2;
}

.policy-check-icon-container-external {
    position: relative;
}

.policy-check-icon-container {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8px;
    left: -22px;
}

.checkbox-checked {
    fill: transparent;

}

/* 
.checkbox-checked {
    background-color: var(--main-text-c);
    fill: white;
} */


.policy-label {
    font-family: 'Montserrat';
    font-size: 16px;
    color: var(--main-text-c);
}

.sign-in-button {
    margin-top: 12px;
    padding: 16px 32px;
    background-color: var(--main-text-c);
    color: var(--bg-c);
    cursor: pointer;
    transition: transform 250ms ease-in-out,
        background-color 250ms ease-in-out;
    border: none;
}

.sign-in-button:hover {
    transform: scale(1.01);
    background-color: var(--third-text-c);
}

.not-registred {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.not-registred p {
    font-size: 16px;
    color: var(--main-text-c);
}

.not-registred button {
    padding: 12px 24px;
    background-color: var(--main-text-c);
    color: var(--bg-c);
    cursor: pointer;
    transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
    border: none;
}

.not-registred button:hover {
    transform: scale(1.01);
    background-color: var(--third-text-c);
}

.sign-in-social-networks {
    margin-top: 20px;
}

.sign-in-social-networks h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}

.social-networks-buttons {
    display: flex;
    gap: 0;
    justify-content: center;
    margin-bottom: 24px;
}

.social-networks-buttons button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    padding: 8px;
}

.social-networks-buttons button svg {
    width: 36px;
    height: 36px;
    transition: transform 250ms ease-in-out;
}

.social-networks-buttons button:hover svg {
    transform: scale(1.2);
}


@media screen and (min-width: 768px) {

    /* ADVANTAGES */

    .advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }

    .advantage-item {
        flex-basis: calc((100% - 16px)/2);
    }

    .advantage-container {
        padding: 16px 12px;
        margin: 0 auto;
    }

    /* PRODUCT LIST */

    .favorite-products-list {
        gap: 16px
    }

    .favorite-products-list li {
        flex-basis: calc((100% - 16px) / 2);
    }

    .favorite-products-item-container {
        max-width: 360px;
        margin: 0 auto;
    }

    /* SMALL IDEA*/

    .small-idea-content {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .small-idea-text-part {
        margin: 0;
    }

    .small-idea-text-part-container {
        padding: 20px 32px 20px 32px;

    }

    .small-idea-part-container {
        min-width: 336px;

    }

    .small-idea-part-container img {
        max-height: 258px;
    }

    /* JOIN CLUB */

    .join-club {
        background-image: url(../images/join_club/desktop/join_1x_desktop.webp),
            linear-gradient(to bottom, rgba(255, 150, 84, 0.6),
                rgba(177, 150, 0, 0.6));
    }

    @media screen and (min-resolution: 192dpi) {
        .join-club {
            background-image: url(../images/join_club/desktop/join_2x_desktop.webp),
                linear-gradient(to bottom, rgba(255, 150, 84, 0.6),
                    rgba(177, 150, 0, 0.6));
        }
    }

    .join-club .container {
        text-align: center;
        padding: 80px 24px;
    }

    .join-club .container h2 {
        font-size: 32px;
    }

    .subscribe-advantages-list {
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-bottom: 40px;
    }

    .join-club-text {
        margin: 0 auto 30px auto;
        max-width: 470px;
    }


    .subscribe-form-container {
        max-width: 470px;
        margin: 0 auto;
    }

    /* FOOTER */

    .footer-menu-and-form {
        display: flex;
        gap: 80px;
    }

    .footer-menu-and-form::after {
        bottom: 24px;
    }

    .footer-menu-container {
        gap: 50px;
        margin-bottom: 66px;
    }

    .categoiers-list-container {
        order: 2;
    }

    .menu-list-container {
        order: 1;
    }

    .our-company-list-container {
        order: 3;
    }

    .subscribe-footer {
        flex-grow: 1;
    }

    .footer-subscribe-container {
        width: 100%;
    }

    .copyright-and-footer-social-networks {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-social-networks {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .footer-social-networks svg {
        fill: var(--bg-c);
        transition: fill 250ms ease-in-out;
    }

    .footer-social-networks a:hover svg {
        fill: var(--third-text-c);
    }
}

/* THE KOSTILY */

@media screen and (min-width: 858px) {
    .small-idea-part-container img {
        max-height: 234px;
    }
}

/* DESKTOP */

@media screen and (min-width: 1100px) {

    header .container {
        padding: 0 28px;
    }

    .company-name-and-buttons .mobile-buttons li:last-child {
        display: none;
    }

    .search-on-page {
        top: 16px;
        left: 0;
        width: 300px;
    }

    .mobile-buttons {
        order: 1;
    }

    .company-name {
        order: 2;
    }

    .company-name h2 {
        font-size: 24px;
    }

    .desktop-buttons {
        display: flex;
        order: 3;
    }

    .desktop-buttons button {
        padding: 8px;
        background-color: inherit;
        border: none;
        cursor: pointer;
        transition: transform 250ms ease-in-out;
    }

    .desktop-buttons button:hover {
        transform: scale(1.2);
    }

    .company-name-and-buttons::after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.10);
    }

    .main-products-desktop {
        display: block;
    }

    .main-products {
        display: flex;
        gap: 44px;
        justify-content: center;
    }

    .main-products a {
        overflow: hidden;
        padding: 20px 0;
        display: block;
        color: var(--third-text-c);
        font-size: 16px;
        position: relative;
    }

    .main-products a::after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: var(--third-text-c);
        position: absolute;
        bottom: 16px;
        left: 0;
        opacity: 0.5;
        transform: translateX(-100%);
        transition: transform 250ms ease-in-out;
    }

    .main-products a:hover::after {
        transform: translateX(0);
    }


    /* HERO */

    .hero .container {
        background-image: url(../images/hero/desktop/hero_1x_desktop.webp),
            linear-gradient(to bottom, rgba(255, 150, 84, 0.6),
                rgba(177, 150, 0, 0.6));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 1px 1px;
    }

    @media screen and (min-resolution: 192dpi) {
        .hero .container {
            background-image: url(../images/hero/desktop/hero_2x_desktop.webp),
                linear-gradient(to bottom, rgba(255, 150, 84, 0.6),
                    rgba(177, 150, 0, 0.6));
        }
    }

    .hero-content-container {
        margin: 130px 80px 130px auto;
        max-width: 630px;
        background-color: var(--bg-c);
        padding: 48px 60px;
    }

    .hero-content-container h1 {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 1.4;
    }

    .hero-text {
        display: none;
    }

    .hero-text-desktop {
        display: block;
        color: #5B5676;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 157px;
    }

    .example-design-container {
        display: none;
    }

    .our-collection {
        margin: 0;
        font-size: 16px;
        padding: 16px 32px;
        max-width: 190px;
    }

    /* ADVANTAGE */

    .advantages .container {
        padding: 80px;
    }

    .what-makes {
        margin-bottom: 36px;
    }

    .advantages-list {
        flex-wrap: nowrap;
        gap: 22px;
    }

    .advantage-container {
        padding: 48px;
        height: 250px;
    }

    .advantage-container h3 {
        margin-bottom: 8px;
        font-size: clamp(16px, 1.45vw, 18px);
    }

    .advantage-container p {
        font-size: clamp(12px, 1.05vw, 16px)
    }

    /* FAVORITE PRODUCTS */

    .favorite-products .container {
        padding: 28px 80px 40px 80px;
    }

    .favorite-products-list {
        flex-wrap: nowrap;
        gap: 20px
    }

    .collection-link {
        padding: 16px 32px;
        margin: 0 auto;
        max-width: 190px;
        font-size: 16px;
    }

    /* SMALL IDEA */

    .small-idea .container {
        padding: 60px 80px;
    }

    .small-idea-text-part,
    .small-idea-image-part {
        width: calc((100% - 16px) / 2);
    }

    .small-idea-text-part-container p {
        margin-bottom: 205px;
    }

    .small-idea-part-container img {
        max-height: 383px;
        min-height: 383px;
    }

    /* JOIN CLUB */

    .join-club .container {
        padding: 90px 24px;
    }

    .join-club-text {
        font-size: 18px;
    }

    /* FOOTER */

    .footer-menu-container {

        gap: 100px
    }

    .visible {

        top: 0;
        left: 32px;
    }
}